$primary: #f7941d;
.cart-drop-down-container {
  width: 200px;
  height: 300px;
  display: flex;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  position: absolute;
  overflow: scroll;
  top: 22px;
  right: -100%;
  z-index: 100;
  padding: 1rem;

  .cart-drop-down-button {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
      color: #fff;
      background-color: $primary;
    }
  }
  .cart-empty {
    padding-top: 60%;
    color: rgba(0, 0, 0, 0.5);
  }
}
