$primary: #f7941d;
$bordercolor: #cccccc;
.search-bar-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search-bar {
    position: absolute;
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  
    .product-categories {
      display: flex;
      height: 100%;
      font: 1rem poppins;
      align-items: center;
      justify-content: center;
      outline: none;
      background-color: $primary;
      color: #fff;
      border-radius: 5px 0 0 5px;
      padding: 0.5rem;
      span {
        margin-right: 10px;
      }
      .product-category{
        background-color: #fff;
        color: #333;
        font: 1rem poppins;
        border-bottom: 1px solid rgba(52,52,52,0.2);
        &:hover{
          cursor: pointer;
          background-color: $primary;
          color: #fff;
        }
      }
    }
    form {
      display: flex;
      height: 100%;
      width: 80%;
      position: relative;
  
      .search-bar-input {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        text-align: center;
        font: 1rem poppins;
        color: #333;
        border: 1px solid $bordercolor;
      }
      button {
        height: 100%;
        font-size: 1.5rem;
        width: 65px;
        border: none;
        color: #fff;
        background-color: #333;
        margin-bottom: 10px;
        border-radius: 0 5px 5px 0;
        transition: color 0.5s ease;
  
        &:hover {
          cursor: pointer;
          color: $primary;
        }
      }
    }
  }
  
}
