$primary: #f7941d;

.trending-item-container {
  display: inline-block;
  width: 100%;
  padding-top: 110px;

  .trending-item-heading {
    padding: 0 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      font-weight: 800;
      color: #333;
      padding-bottom: 1rem;
    }
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background-color: $primary;
      margin: 0 auto;
    }
  }
  div {
    display: flex;
    justify-content: center;
    .trending-item-navbar {
      width: 40%;
      display: flex;
      justify-content: space-between;

      li {
        font: 13px "open sans", sans-serif;
        border-radius: 3px;
        padding: 3px 14px;
        transition: background-color 0.3s ease;
        &:hover,
        &:active {
          background-color: $primary;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .trending-item-product-container {
    display: flex;
    padding: 1rem 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .trending-items-product {
      display: inline-block;
      flex: 1 0 21%;
      padding: 1rem;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      span {
        display: block;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
