$primary: rgb(247, 149, 29);

.email-container {
  font: 13px poppins;
  span {
    color: #0066c0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.password-container {
    width: 270.84px;
  .password-upper-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font: 13px poppins;
    color : #333;
    .passowrd-label-container {
      font-weight: 700;
    }
    .forgot-password-container {
      color: #0066c0;
      cursor: pointer;

      &:hover {
        color: #c45500;
        text-decoration: underline;
      }
    }
  }
  .sign-in-password-input {
    width: 100%;
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
    font: 13px poppins;
    height: 2rem;
    border-radius: 2px;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    color: #333;
    padding-left: 0.5rem;
    &:focus {
        border: 1px solid $primary;
        box-shadow: 0 0 5px 0.2px $primary;
    }
  }
  .sign-in-button-container{
    display: flex;

    .sign-in-password-button{
        width: 100%;
        font: 13px poppins;
        padding: 0.4rem;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: #333;
        transition: background-color 0.3s ease ;

        &:hover {
            
            background-color: $primary;
        }
    }
  }
}
