@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$bordercolor: #cccccc;
$primary: #f7941d;
ul li {
  list-style: none;
  padding: 0;
  display: inline-flex;
  position: relative;
}
.last-child {
  border-right: none !important;
}
.icon-style {
  position: absolute;
  top: 0px;
  left: 10px;
  color: $primary;
  font-size: 18px;
}
.navbar-container {
  font-family: "Poppins", sans-serif;
  height: 218px;
  background-color: bisque;
  white-space: nowrap;
}
