$bordercolor: #cccccc;
$primary: #f7941d;
.navbar-middle-container {
  display: flex;
  position: relative;
  background-color: #ffffff;
  min-height: 40%;
  border-bottom: 1px solid $bordercolor;
  font-size: 13px;

  .nav-middle-left-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-middle-center-container {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-bar {
      position: absolute;
      width: 100%;
      display: flex;
      height: 50%;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .product-categories {
        display: flex;
        height: 100%;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        color: #fff;
        border-radius: 5px 0 0 5px;
        padding: 0.5rem;
        span {
          margin-right: 10px;
        }
      }
      form {
        display: flex;
        height: 100%;
        width: 80%;
        position: relative;

        input {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          height: 100%;
          border: none;
          outline: none;
          font-size: 20px;
          text-align: center;
          border: 1px solid $bordercolor;
        }
        button {
          height: 100%;
          font-size: 1.5rem;
          width: 65px;
          border: none;
          color: #fff;
          background-color: #333;
          margin-bottom: 10px;
          border-radius: 0 5px 5px 0;
          transition: color 0.5s ease;

          &:hover {
            cursor: pointer;
            color: $primary;
          }
        }
      }
    }
  }
  .nav-middle-right-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icons-container {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.3rem;
      gap: 1rem;
      transition: color 0.5s ease;

      li {
        transition: color 0.5s ease;

        &:hover {
          cursor: pointer;
          color: $primary;
        }
      }
      li:last-child {
        position: relative;
        display: flex;

        .cart-count {
          position: absolute;
          top: -10px;
          right: -10px;
          background-color: $primary;
          color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
        }
      }

      .cart {
        position: relative;
        display: flex;
      }
    }
  }
}
